<div class="center-align">
    <h2>Welcome, {{name}}!</h2>
    <h3>Let's begin</h3>
    <h1 id="countdown">Time left:</h1>
    <div id="clockdiv">
        <div>
            <span class="hours" id="hour"></span>
            <div class="smalltext">Hours</div>
        </div>
        <div>
            <span class="minutes" id="minute"></span>
            <div class="smalltext">Minutes</div>
        </div>
        <div>
            <span class="seconds" id="second"></span>
            <div class="smalltext">Seconds</div>
        </div>
    </div>

    <p id="demo"></p>
</div>
{{#if questions}}
<form action="/submit" method="POST" id="form">
    {{#each questions}}
    <div class="input-field">
        <label for="{{index}}" class="ques-label">
            <p class="lead desc">{{index}}. {{description}}</p>
        </label>
        <input name="{{index}}" class="validate ques-input" type="text" id="{{index}}" placeholder="Enter answer">
    </div>
    {{/each}}
    <div class="center-align">
        <button type="submit" class="waves-effect waves-light btn light-blue darken-3">Submit Your Answers</button>
    </div>
</form>
{{else}}
<p>No questions!</p>
{{/if}}
{{!-- <script type="text/javascript">
    $("#countdown")
        .countdown("2020/08/03", function (event) {
            $(this).text(
                event.strftime('%D days %H:%M:%S')
            );
        });
</script> --}}
<script>

    let deadline = new Date("aug 14, 2020 20:00:00 GMT+05:30").getTime();

    let x = setInterval(() => {

        let now = new Date().getTime();
        let t = deadline - now;
        // let days = Math.floor(t / (1000 * 60 * 60 * 24));
        let hours = Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        let minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
        let seconds = Math.floor((t % (1000 * 60)) / 1000);
        document.getElementById("hour").innerHTML = hours;
        document.getElementById("minute").innerHTML = minutes;
        document.getElementById("second").innerHTML = seconds;
        if (t < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "TIME UP";
            document.getElementById("hour").innerHTML = '0';
            document.getElementById("minute").innerHTML = '0';
            document.getElementById("second").innerHTML = '0';
        }
    }, 1000);

    let ttl = deadline - new Date().getTime();

    let y = setTimeout(() => {
        document.getElementById("form").submit();
    }, ttl);
</script>